{% load static %}


<!--
<h1>helow world</h1>

<img src="{% static 'images/Snapseed.jpeg' %}" >
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Its me Mathews</title>
        <link href={% static 'css/main.css' %} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        
    </head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profilecard" class="card card-body">
                <img id="profile-pic" src="{% static 'images/Snapseed.jpeg' %}" >
                <hr>
                <h4>Hello I am Mathews!</h4>
                <p>just a newbie, trying to improve day by day</p>
            </div></div>
                <div class="col-md-9">
                    <div class="card card-body">
                        <h2>First time as a developer</h2>
                        <hr>
                        <p>First things are better more special to everyone. First toy, first mobile, first car...
                            As in my case, here I have my first website on a python framework named Django. It seems special for me.
                            
                             #firstdjagoproject </p>
                             
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6" >
                <div class="card card-body">
                    <h4>The website will get ready soon (:</h4>
                    <p> check this out for connecting with me</p>
                    <p><a href="https://github.com/mathewspmathew">
                        <img alt="GitHub" src="{% static 'images/github.png' %}"
                        width="40" height="40">
                        &nbsp&nbsp
                        <a href="https://twitter.com/mathews_pmathew/">
                            <img alt="Twitter" src="{% static 'images/twitter.png' %}"
                            width="40" height="40"> 
                            &nbsp&nbsp
                        <a href="https://www.linkedin.com/in/mathews-p-mathew-a091281b7">
                                <img alt="Linkedin" src="{% static 'images/linkedin.png' %}"
                                width="40" height="40">                          
                    </p>
                </div>
  
</body>    
</html>